/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

body {
    height: 100vh;
    background: #3D3D45;
}

.buttons {
    margin: 50px auto;
}

a {
    transition: all 1s ease !important;
    opacity: 0.5;
    outline: none;
}

a:hover {
    opacity: 1;
}

.box {
    position: absolute;
    right: -500px;
    left: auto;
    width: 1000px;
    top: 20%;
    opacity: 0.05;
}